.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

table, .view{
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    text-align: center;

}

.view{
    padding: 100px;
}

td {
    padding: 200}