
body{
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.webp");
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 90vmin;
  height: 90vmin;
  border: 2px solid black;
  margin: auto;
  margin-top: 1.5%;
}

.cell {
  position: relative;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
  background-color: #D2EADC;
}

.esquina {
    /* referencia para el contenido absoluto */
  padding: 12cap; 
  background-color: #CCE3C7;   /* por si la imagen se pasa */
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* cubre toda la casilla */
}

/* Franja de color, se adapta según la clase */
.cell.color-top-red::before,
.cell.color-top-yellow::before,
.cell.color-bottom-blue::before,
.cell.color-bottom-brown::before,
.cell.color-left-green::before,
.cell.color-left-blue::before,
.cell.color-right-orange::before,
.cell.color-right-violet::before {
  content: "";
  position: absolute;
}

/* Arriba del tablero → franja abajo */
.cell.color-top-red::before {
  bottom: 0;
  width: 100%;
  height: 20%;  /* grosor de franja */
  background: red; /* puedes cambiar color */
}

.cell.color-top-yellow::before {
  bottom: 0;
  width: 100%;
  height: 20%;  /* grosor de franja */
  background: yellow; /* puedes cambiar color */
}

/* Abajo del tablero → franja arriba */
.cell.color-bottom-blue::before {
  top: 0;
  width: 100%;
  height: 20%;
  background: rgba(177,197,229,255);
}

.cell.color-bottom-brown::before {
  top: 0;
  width: 100%;
  height: 20%;
  background: #79130b;
}

/* Lado izquierdo → franja a la derecha */
.cell.color-left-green::before {
  left: 0;
  width: 20%;
  height: 100%;
  background: green;
}

.cell.color-left-blue::before {
  left: 0;
  width: 20%;
  height: 100%;
  background: blue;
}

/* Lado derecho → franja a la izquierda */
.cell.color-right-orange::before {
  right: 0;
  width: 20%;
  height: 100%;
  background: orange;
}

.cell.color-right-violet::before {
  right: 0;
  width: 20%;
  height: 100%;
  background: #bf005f;
}

.jail {
  background-color: #CCE3C7;
  position: absolute;
  top: 0%;
  right: 0;
  width: 80%;
  height: 80%;
  object-fit: contain; /* mantiene proporción de la imagen */
}

/* Centro ocupa de fila 2 a 10 y columna 2 a 10 */
.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #D2EADC;
}

.center img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



