
body{
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.webp");
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 90vmin;
  height: 90vmin;
  border: 2px solid black;
  margin: auto;
  margin-top: 1.5%;
}

.cell {
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.esquina {
  background-color: #F4D35E;
  padding: 80px;
}

/* Centro ocupa de fila 2 a 10 y columna 2 a 10 */
.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #D2EADC;
}

.center img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
