.container{
    display: flex;
    justify-content: center;
}

table, .view{
    border: 1px solid black;
    padding: 0px;
    background-color: aqua;
}

.view{
    padding: 30px;
    background-color: brown;
}

.view-2{
    padding: 30px;
    background-color: green;
}

td {
    padding: 50px;
}

.color {
    
    background-color: blueviolet;
    padding: 10px 10px;
    
}